.recipe_section {
    margin-top: 40px;
}

.recipe_section h2 {
    font-size: 32px;
    letter-spacing: 1px;
}

.recipe_section h3 {
    margin-top: 80px;
    font-size: 16px;
    font-weight: 700;
}

.recipe_section p {
    margin-top: 26px;
    font-size: 18px;
    font-weight: 300;
}

.recipe_section ul,
.recipe_section ol {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    font-size: 18px;
    font-weight: 300;
    margin-left: 26px;
}
